### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

### Misc ###
# Ignore everythin inside storage
storage/*
!storage/README.md
# Ignore dev files
sync-data/loopback-client.new.js
sync-data/dev.js
sync-data/sync-data.new.js
sync-data/script.new.js
sync-data/loopback-utils.new.js
sync-data/matrix-rest-client.new.js
test/Mockstubs.js
test/sync-data-test.js
# Ignore local config file
server/config.local.js
